<web-app >

    <!-- WEB servlets-->
    <servlet>
        <servlet-name>MainFrameServlet</servlet-name>
        <servlet-class>com.brest.bank.web.MainFrameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainFrameServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepositorFrameServlet</servlet-name>
        <servlet-class>com.brest.bank.web.DepositorFrameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositorFrameServlet</servlet-name>
            <url-pattern>/editDepositor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepositFrameServlet</servlet-name>
        <servlet-class>com.brest.bank.web.DepositFrameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositFrameServlet</servlet-name>
        <url-pattern>/editDeposit</url-pattern>
    </servlet-mapping>

    <!-- REST server servlet-->

    <servlet>
        <servlet-name>BankDepositRest</servlet-name>
        <servlet-class>com.brest.bank.rest.BankDepositRest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankDepositRest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- Rest client servlet-->

    <servlet>
        <servlet-name>RestClient</servlet-name>
        <servlet-class>com.brest.bank.client.RestClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestClient</servlet-name>
        <url-pattern>/client/rest/*</url-pattern>
    </servlet-mapping>

    <!-- Test services servlets-->
    <servlet>
        <servlet-name>InputDepositTest</servlet-name>
        <servlet-class>com.brest.bank.web.InputDepositTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputDepositTest</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InputDepositorTest</servlet-name>
        <servlet-class>com.brest.bank.web.InputDepositorTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputDepositorTest</servlet-name>
        <url-pattern>/depositor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BankDepositDeleteServlet</servlet-name>
        <servlet-class>com.brest.bank.web.BankDepositDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankDepositDeleteServlet</servlet-name>
        <url-pattern>/deposit/deleteDeposit</url-pattern>
    </servlet-mapping>

    <!-- SOAP servlets-->

    <servlet>
        <servlet-name>BankDepositSoapServer</servlet-name>
        <servlet-class>com.brest.bank.soap.BankDepositSoapServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankDepositSoapServer</servlet-name>
        <url-pattern>/soap/server/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BankDepositSoapClient</servlet-name>
        <servlet-class>com.brest.bank.client.BankDepositSoapClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BankDepositSoapClient</servlet-name>
        <url-pattern>/soap/client/*</url-pattern>
    </servlet-mapping>

    <!-- Exception servlets-->
    <servlet>
        <servlet-name>AppExceptionHandler</servlet-name>
        <servlet-class>com.brest.bank.web.error.AppExceptionHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppExceptionHandler</servlet-name>
        <url-pattern>/AppExceptionHandler</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/AppExceptionHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/AppExceptionHandler</location>
    </error-page>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/AppExceptionHandler</location>
    </error-page>

    <error-page>
        <exception-type>org.hibernate.HibernateException</exception-type>
        <location>/AppExceptionHandler</location>
    </error-page>

</web-app>
