<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- установка соединения с БД-->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:mem:bankDepositDb</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <!-- пул соединений JDBC -->
        <property name="connection.pool_size">1</property>

        <!-- SQL диалект-->
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Включить автоматическое управление контекстом сеанса библиотеки Hibernate-->
        <property name="current_session_context_class">thread</property>

        <!-- отключить кэш второго уровня-->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- вывод запросов SQL генерируемых Hibernate на консоль-->
        <property name="show_sql">true</property>

        <!--Удалить и пересоздать схему БД при запуске-->
        <property name="hbm2ddl.auto">update</property>

        <!-- файл отображения-->
        <mapping resource="com/brest/bank/domain/BankDeposit.hbm.xml"/>
        <mapping resource="com/brest/bank/domain/BankDepositor.hbm.xml"/>

    </session-factory>

</hibernate-configuration>